@import '../../../scss/theme/colors.scss';
@import '../../../scss/theme/typography.scss';
@import '../../../scss/theme/breakpoints.scss';


.team_description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.team_description > div{
    width: 31%;;
}

.text_h{
    font-family:Merri-regular;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color:$blue;
    margin-top: 100px;
    margin-bottom: 60px;
}

.team_description_text{
    font-family: Roboto-regular;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.035em;
text-align: left;
color: $text;
margin-top: 50px;
@media (max-width:1660px) {
    font-size: 14px;
    margin-top: 25px;
 }

 @media (max-width:$desktopWidth) {
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width:$smDesktopWidth) {
    font-size: 10px;
    margin-top: 0px;
   }
}