@import "../../../scss/theme/colors.scss";
@import "../../../scss/theme/typography.scss";
@import "../../../scss/theme/breakpoints.scss";

.form {
  width: 1440px;
  height: 190px;
  background-color: $blue;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  border-radius: 6px;
  @media (max-width:1660px) {
    width: 70%;
 }
 @media (max-width:$xsTableWidth) {
  width: 90%;
  height: 190px;
  margin-bottom: 90px;
}
@media (max-width:$smPhoneWidth) {
  width: 100%;
  height: 190px;
 }
}

.form_h2 {
  font-family: Inter-Semibold;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: rgba(28, 28, 28, 1);
  margin-top: 40px;
}

.form_p {
  font-family: Inter-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 20px;
}

.form_button {
  color: $role;
  width: 110px;
  height: 40px;
  display: inline-block;
  background: $dark;
  border-radius: 6px;
  @media (max-width:$xsTableWidth) {
    width: 80px;
 }
 @media (max-width:$smPhoneWidth) {
  width: 80px;
 }
}

.input_group {
  text-align: center;
  @media (max-width:$xsTableWidth) {
    margin-bottom: 30px;
 }
}
