@import '../../../scss/theme/typography.scss';


.slogan{
    font-family: Roboto-regular;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(143, 150, 162, 1);
}