@import '../../../scss/theme/colors.scss';

.header {
    background-image: url(../../../assets/images/backgraund.png);
    max-width: 100vw;
    height: 1048px;
    padding-top: 60px;
  }

  .header_button{
    width: 480px;
    height: 65px;
    text-align: left;
    margin-top: 195px;
    background-color:$blue;
    font-family: Roboto-medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark;
  }

