@import '../../../scss/theme/colors.scss';
@import '../../../scss/theme/breakpoints.scss';

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
    background-image: url(../../../../public/images/backgraund.png);
    background-size: cover;
    max-width: 100vw;
    height: auto;
    padding-top: 0px;
    @media (max-width:$tableWidth) {
      background-size: auto;
      background-position: center;
     }

     @media (max-width:$phoneWidth) {
      background-size: cover;
      background-position: 75%;
     }

  }

  .header_button{
    width: 480px;
    height: 65px;
    text-align: left;
    margin-top: 195px;
    background-color:$blue;
    font-family: Roboto-medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark;
    margin-bottom: 185px;
    @media (max-width:$smDesktopWidth) {
      width: 380px;
     }

     @media (max-width:$phoneWidth) {
      width: 280px;
      margin-left: 20%;
      margin-top: 100px;
      margin-bottom: 80px;
      
     }
}


  

