@import '../../../scss/theme/colors.scss';
@import '../../../scss/theme/typography.scss';

footer{
    background-color: $dark;
    padding-top: 120px;
   
    
}

footer .content{
    display: flex;
    justify-content: center;
}

footer .link{
    font-family:  SF-UI-regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: $blue;
margin-left: 0 40px;

}

footer .button_link:hover{
    background: $blue;
    opacity: 0.7;
}

footer .link:hover{
    color: $dark;
}

.footer_text{
    margin-top: 270px;
    margin-bottom: 70px;
    font-family:  Roboto-Condensed;
font-size: 16px;
font-style: italic;
font-weight: 500;
line-height: 19px;
letter-spacing: -0.045em;
text-align: left;
color: $blue;
text-align: center;
}

