@import '../../../scss/theme/typography.scss';
@import '../../../scss/theme/colors.scss';
@import '../../../scss/theme/breakpoints.scss';

.card{
    width: 30%;
    height: auto;
    position: relative;
    margin-bottom: 60px;
   
}

.description_card{
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 5%;
   
}



.name{
    font-family: Roboto-Slab;
font-size: 32px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: $blue;
margin-bottom: 35px;
@media (max-width:$desktopWidth) {
    font-size: 20px; 
    margin-bottom: 15px;
    
}


}

.role{
    font-family: Roboto-Slab;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $role;
    @media (max-width:$desktopWidth) {
        font-size: 10px; 
      
        
    }
}

