@import '../../../scss/theme/typography.scss';
@import '../../../scss/theme/colors.scss';

.card{
    position: relative;
    margin-bottom: 60px;
}

.description_card{
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 5%;
}


.name{
    font-family: Roboto-Slab;
font-size: 32px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: $blue;
margin-bottom: 35px;

}

.role{
    font-family: Roboto-Slab;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $role;
    
}