@import '../../../scss/theme/colors.scss';
@import '../../../scss/theme/typography.scss';
@import '../../../scss/theme/breakpoints.scss';

.about{
    background-color: $blue;
}

.about_h{
    font-family: Merri-regular;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark;
    margin-top: 100px;
    margin-bottom: 60px;
}

.about_description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 135px;
}


.description_img{
    display: inline-block;
    width: 50%;
    height: auto;
    background-image: url(../../../../public/images/aboutCompany.png);
    background-position: center;
    @media (max-width:$desktopWidth) {
        width: 668px;
        height: 525px;
       }
     
  
}

.description_text{
    display: inline-block;
    width: 50%;
    padding: 40px 0px 0px 160px;
    justify-items: baseline;
    @media (max-width:$desktopWidth) {
        width:525px;
        padding: 40px 0px 0px 80px;
       }

       @media (max-width:$smDesktopWidth) {
        margin-top: -20px;
        width:515px;
        padding:0px 0px 0px 50px;
       }
     
}

.about_text{
    font-family: Roboto-regular;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.035em;
text-align: left;
color: $text;
padding: 90px 20px 90px 0;
@media (max-width:$desktopWidth) {
    font-size: 20px;
    padding: 50px 20px 50px 0;
   }

}

.first{
   border-bottom: 1px solid $dark;
   padding-top: 30px;
}

