@import '../../../scss/theme/colors.scss';
@import '../../../scss/theme/typography.scss';
@import '../../../scss/theme/breakpoints.scss';

.partners{
    background-color: $blue;
}

.partners_h{
    font-family: Merri-regular;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: $dark;
margin-top: 100px;
margin-bottom: 225px;
@media (max-width:$xsTableWidth) {
    margin-bottom: 100px;
    
   }
   @media (max-width:$phoneWidth) {
    font-size: 26px;
    margin-top: 60px;
   }
}

.partners_description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}