@font-face {
    font-family: Roboto-medium;
    src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
  }
  
  @font-face {
    font-family: Roboto-medium-italic;
    src: url(../../assets/fonts/Roboto/Roboto-MediumItalic.ttf);
  }
  
  @font-face {
    font-family: Roboto-regular;
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: Merri-bold;
    src: url(../../assets/fonts/Merriweather/Merriweather-Bold.ttf);
  }

  @font-face {
    font-family: Merri-regular;
    src: url(../../assets/fonts/Merriweather/Merriweather-Regular.ttf);
  }
    
  @font-face {
    font-family: Roboto-mono;
    src: url(../../assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
  }
  
  @font-face {
    font-family: SF-UI;
    src: url(../../assets/fonts/SF-UI/SFUIDisplay-Medium.ttf);
  }
  
  @font-face {
    font-family: SF-UI-regular;
    src: url(../../assets/fonts/SF-UI/SFUIDisplay-Regular.ttf);
  }
  
  @font-face {
    font-family: Roboto-Slab;
    src: url(../../assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
  }

